html{
    scroll-snap-type: y mandatory;
}

.App {
    height: 100vh;
    background-color: black;
    display: grid;
    place-items: center;
}

.app__videos{
    position: relative;
    width: 80%;
    height: 600px;
    max-width: 500px;
    border-radius: 20px;
    overflow: scroll;
    scroll-snap-type: y mandatory;
}

.app__videos::-webkit-scrollbar {
    display: none;
}